# Hugo build output
/public/

# Hugo generated resources
/resources/_gen/

# Local Hugo caches and locks
.hugo_build.lock

# OS-specific files
.DS_Store
Thumbs.db

# Editor/IDE files
.vscode/
.idea/
*.swp

